.navIntra {
  padding-top: 4vw;
  background-color: #f8f8ff !important;
  margin-bottom: -1px;
}
.active {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  font-weight: 600;
}
#intraday-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}

#intraday-nav .nav-link {
  font-size: 0.8rem !important;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  background-color: #e0dfe4;
  color: gray;
  border-radius: 10px;
}

#intraday-nav[data-theme="dark"] .nav-link {
  background-color: #464646;
  color: gray;
  border-radius: 10px;
}
#intraday-nav .active {
  border-radius: 5px;
  background: inherit;
  color: #3f62d7 !important;
  display: flex;
  font-weight: 600;
}
#intraday-nav[data-theme="dark"] .active {
  background-color: inherit !important;
  border: 1px solid #3f62d7;
  font-weight: 600;
}
