table {
  border-collapse: collapse;
}
thead {
  /* border-left: 10px solid black; */
}
.container {
  padding-bottom: 2rem;
  max-width: 100%;
  overflow-x: auto;
}
.tableContainer {
  width: 100%;
  text-align: center;
}
.tableContainer th {
  border: 2px solid #e0dfe4;
  font-size: 14px;
  padding: 0 5px;
}
.tableContainer td {
  border: 2px solid #e0dfe4;
  padding: 14px 6px;
  min-width: 50px;
}
.tableContainer[data-theme="dark"] td,
.tableContainer[data-theme="dark"] th {
  border: 2px solid #181a26;
}
/* TABLES BACKGROUND */
.strike_prices {
  background-color: #e0dfe4;
  color: black;
}
.strike_prices[data-theme="dark"] {
  background-color: #181a26;
  color: #ffff;
}

.tableContainer td:first-child {
  /* background-color: #E0DFE4; */
}
/* .backgroundcolor{
    background-color: white;
   } */
.container {
  margin: 0rem 2rem;
  margin-top: 2rem;
  display: flex;
}
